<div
    class="sidebar-area bg-white active"
    [ngClass]="{'active': isSidebarToggled}"
    [class.component-dark-theme]="themeService.isDark()"
    [class.dark-sidebar]="themeService.isSidebarDark()"
    [class.right-sidebar]="themeService.isRightSidebar()"
    [class.hide-sidebar]="themeService.isHideSidebar()"
    [class.card-borderd-theme]="themeService.isCardBorder()"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <div class="logo bg-white">
        <a routerLink="/" class="d-flex align-items-center">
            <img src="images/logo-only.png" height="50" width="50" alt="logo-icon">
            <span class="fw-semibold">CECYTECH</span>
        </a>
    </div>
    <div
        (click)="toggle()"
        class="burger-menu"
        [ngClass]="{'active': isSidebarToggled}"
    >
        <span class="top-bar"></span>
        <span class="middle-bar"></span>
        <span class="bottom-bar"></span>
    </div>
    <ng-scrollbar visibility="hover">
        <div class="sidebar-inner">
            <div class="sidebar-menu">
                <mat-accordion>
                    <span class="sub-title text-body">
                        APLICACIONES
                    </span>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="material-symbols-outlined">
                                    keyboard_command_key
                                </i>
                                <span class="title">
                                    Plataformas
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a href="http://45.174.76.53/sipe" target="_blank" class="sidemenu-link">
                                    S.I.P.E.
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a href="http://45.174.76.53/becas/html" target="_blank" class="sidemenu-link">
                                    BECAS
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a href="http://www.spd.cecytech.org/aplicativo_plantilla/Plantilla/login-logout/login.php" target="_blank" class="sidemenu-link">
                                    Plantilla del Personal
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a href="https://sites.google.com/cecytechihuahua.edu.mx/transparencia" target="_blank" class="sidemenu-link">
                                    Transparencia
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a href="https://sites.google.com/cecytechihuahua.edu.mx/capacitacioncecytech" target="_blank" class="sidemenu-link">
                                    Capacitaci&oacute;n
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a href="http://74.208.142.187/HD" target="_blank" class="sidemenu-link">
                                    Herramientas Docentes
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a href="http://45.174.76.56:8078/" target="_blank" class="sidemenu-link">
                                    Sistema de Estructura
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="material-symbols-outlined">
                                    location_away
                                </i>
                                <span class="title">
                                    Control Escolar
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/forms" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Basic Elements
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="material-symbols-outlined">
                                    partner_exchange
                                </i>
                                <span class="title">
                                    Recursos Humanos
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/forms" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Basic Elements
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="material-symbols-outlined">
                                    donut_small
                                </i>
                                <span class="title">
                                    TIC'S
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/forms" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Basic Elements
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="material-symbols-outlined">
                                    payments
                                </i>
                                <span class="title">
                                    Finanzas
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/forms" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Basic Elements
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="material-symbols-outlined">
                                    apartment
                                </i>
                                <span class="title">
                                    Infraestructura
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/forms" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Basic Elements
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>



                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="material-symbols-outlined">
                                    forum
                                </i>
                                <span class="title">
                                    Forms
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/forms" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Basic Elements
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/forms/advanced-elements" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Advanced Elements
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/forms/wizard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Wizard
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/forms/editors" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Editors
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/forms/file-uploader" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    File Uploader
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                    
                    <a (click)="logoutGoogle()" style="cursor:pointer" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="material-symbols-outlined">
                            logout
                        </i>
                        <span class="title">Logout</span>
                    </a>
                </mat-accordion>
            </div>
        </div>
    </ng-scrollbar>
</div>